.friends-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .friends-list {
        margin: 10px;
        padding: 20px;
        width: auto;
        height: auto;
        min-width: 260px;
        max-width: 1000px;
        background-color: var(--card-background);
        border-radius: var(--card-border-radius);
        box-shadow: var(--shadow-l1);
        display: flex;
        flex-direction: row;
        padding: 30px;

        .friend-avatar {
            margin: auto 0px;

            .friend-avatar-img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                object-fit: fill;
            }
        }

        .friend-info {
            float: right;
            margin-left: 20px;
            width: 100vw;

            @include respond(xl) {
                width: 24vw
            }

            .friend-name {
                font-size: 2.0rem;
                font-weight: 500;
            }

            .friend-desc {
                max-width: 100%;
                word-wrap: break-word;
            }
        }

        &:hover {
            box-shadow: var(--shadow-l2);
            transition: box-shadow 0.5s;
            -webkit-transition: box-shadow 0.5s;
        }
    }
}