.main-container-background {
    background-color: transparent;

    @include respond(md) {
        background-color: var(--body-background-transparent);
    }

    @include respond(xl) {
        width: 90vw;
        margin: auto;
        background-color: var(--body-background-transparent);
    }
}